@charset "utf-8";
/***************************************************
 * bitbook_style.css
 * 
 * Stylesheet for Bit Books
 * Nokia Asha
 * 
 * Series 40
 * 
 * Jaskirat Singh
 * 8 March, 2013
 *
 ***************************************************/
#help_page {
	display: none;
}

.intro {
	font-size: medium;
}

.bb_help_header {
	font-size: medium;
	height: 24px;
	width: 240px;
	background-color: #87CEFA;
	padding: 7px 0px 5px 10px;  
}

.bb_help_text {
	font-size: medium;
	padding: 3px 15px 3px 10px;
}

.bb_text_field {
	font-size: medium;
	height: 30px;
	width: 200px;
	margin-top: 8px;	
}

.bb_loader {
	display: none;	
}

.bb_search_button {
    border-width: 1px;
    border-color: black;
}

.bb_item_title {
	font-size: medium;
	font-weight: bold;
}

.bb_title {
	text-align:center;
	color: white;
}

.bb_search_item_image {
	margin-right: 12px;
	margin-left: 7px;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 52px;
	height: 80px;
}

.bb_separator {
	border-bottom: 2px solid #04aed9;
	padding-bottom: 7px;
}

.bb_item_first {
	padding-top: 5px;
}

table#results_table {
	border-collapse: collapse;
	width: 240px;
}

table#results_table tbody:nth-child(even) {
	background: #EBEBEB;
}
table#results_table tbody:nth-child(odd) {
	background: #FFF;
}

/* CSS for the description pages */

.bb_desc_table {
	width: 240px;
}

.bb_desc_title {
	font-size: large;
	padding: 5px;
}

.bb_desc_author {
	font-size: medium;
	padding: 0px 0px 8px 5px;
}

.bb_desc_rating {
	padding: 10px 0px 5px 5px;
}

.bb_desc_image {
	padding: 0px 0px 8px 8px;
	width: 88px;
	height: 134px;
}

.bb_desc_pages {
	font-size: medium;
	padding-left: 5px;
}

.bb_desc_pub {
	padding: 3px 6px 4px 5px;
}

.bb_isbn_label {
	padding: 0px 0px 0px 5px;
}

.bb_isbn_isbn {
	padding: 0px 6px 5px 5px;
	font-size: medium;
}

.bb_desc_button {
	padding: 0px 0px 8px 25px;
}

.bb_desc_label {
	padding: 8px;
	font-size: medium;
	background: #D3D3D3;
}

.bb_desc_desc {
	padding: 6px;
	font-size: medium;
	line-height: 1.3;
	text-align: left;
}

.bb_bottom_pad {
	padding: 0px 0px 5px;
	visibility: hidden;
}

.bb_button {
      background-color: #00b4eb;
      height: 25px;
      padding-right: 8px;
      padding-left: 8px;
      color: #FFF;
      text-decoration: none;
      margin: 5px;
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
}

/* hide all description pages by default */

#desc_page_0 {
	display: none;
}
#desc_page_1 {
	display: none;
}
#desc_page_2 {
	display: none;
}
#desc_page_3 {
	display: none;
}
#desc_page_4 {
	display: none;
}
#desc_page_5 {
	display: none;
}
#desc_page_6 {
	display: none;
}
#desc_page_7 {
	display: none;
}
#desc_page_8 {
	display: none;
}
#desc_page_9 {
	display: none;
}